@font-face {
  font-family: DIN;
  src: url('./src/Din-Alternate-Bold.otf');
}

* {

  font-family: DIN, sans-serif;
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("assets/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 9px;
  height: 120px;
  top: 35%
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 31px;
  width: 20px;
  left: -8px;
  bottom: 0px;
  background-color: black;
  border: 2px solid #6FEFD0;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  background-color: #6FEFD0;
}

.slider:hover:before {
  background-color: #6FEFD0;
}


#largeButton {
  position: absolute;
  height: 295px;
  width: 295px;
  left: 6.25%;
  right: 70.7%;
  top: 27.78%;
  bottom: 31.39%;
  border-radius: 50%;
  background: #0F031B;
  border: 4px solid #535353;
  box-sizing: border-box;
}

#smallerRing {
  position: absolute;
  height: 250px;
  width: 250px;
  left: 6%;
  right: 72.34%;
  top: 6%;
  bottom: 34.44%;
  background: #0F031B;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 1;
}

#funkyButton {
  position: absolute;
  height: 75px;
  width: 200px;
  left: 43%;
  right: 25%;
  top: 75%;
  bottom: 31.39%;
  background: #0F031B;
  border: 4px solid #535353;
  border-color: #6FEFD0;
  box-sizing: border-box;
  line-height: 4;
}

.line {
  height: 14px;
  width: 84%;
  background-color: grey;
  border-radius: 50px;
  margin-top: 5.5%;
  margin-left: 8%;
}


#stopButton, #playButton {
  position: absolute;
  height: 30px;
  width: 40px;
  background: #0F031B;
  border: 4px solid #535353;
  border-color: #6FEFD0;
  box-sizing: border-box;
  right: 25%;
  top: 15%;
  bottom: 31.39%;
}